@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary-color: #0051a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f6f6;
}

.page {
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.table-container,
.form-container,
.invoice-container {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.login-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form .form {
  width: 360px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-form .title {
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table>thead>tr>th {
  text-align: center;
  padding: 0.5rem 0.5rem;
  background-color: #9fcaf6;
  color: var(--primary-color);
}

table>tbody>tr>td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
  text-align: center;
}

.btn,
.btn-add,
.btn-search,
.btn-edit,
.btn-delete,
.btn-export {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #0e4279;
  border: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  color: #fff;
}

.btn-block {
  width: 100%;
  padding: 10px;
}

.btn-add,
.btn-search,
.btn-edit,
.btn-delete,
.btn-export {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
}

.btn-delete {
  background-color: #c82020;
}

.btn-export {
  background-color: #4d9b50;
}

.btn-add:hover,
.btn-search:hover,
.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.8;
}

.btn-add:active,
.btn-search:active,
.btn-edit:active,
.btn-delete:active {
  opacity: 0.6;
}

.btn:hover {
  background: var(--primary-color);
}


/* .btn-logout {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: #212121;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #5b08a7;
} */

.form-container {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 500px) {
  .form-container {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .page {
    margin: 20px;
  }
}

input,
select {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 9px 10px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 5px;
}

input:focus {
  border-color: #0e4279;
}

.calendarWrap {
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

label {
  font-weight: bold;
  color: var(--primary-color);
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav {
  background-image: url(./assets/water-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100%;
}


.horizontal-slider .example-track {
  top: 15px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.example-track.example-track-1 {
  background: var(--primary-color);
}

.horizontal-slider .example-thumb {
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  border: 2px solid #e6e6e6;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5px;
  font-size: 14px;
  color: var(--primary-color);
}

.pagination .page-num {
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #9fcaf6;
  transition: all 0.25s;
}

.pagination .page-num:hover {
  opacity: 0.6;
}

.pagination .active {
  background-color: var(--primary-color);
  color: #fff;
}

.popup-content {
  width: 30%;
}

.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

.modal>.content {
  width: 100%;
  padding: 10px 5px;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.badge-success,
.badge-fail {
  background-color: #107c10;
  padding: 2px 6px;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
}

.badge-fail {
  background-color: #ebebeb;
  color: #616161;
}

.invoice-container {
  display: flex;
  justify-content: center;
}

.invoice-wrapper {
  width: 900px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

}

.invoice-header {
  border-bottom: 3px solid var(--primary-color);
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  padding: 1rem;
}

.company-name {
  text-transform: uppercase;
}

.logo-invoice {
  width: 100%;
}

.invoice-content {
  padding: 1rem;
}

.invoice-table {
  margin-top: 15px;
}

.column-invoice-info {
  border: 2px solid var(--primary-color);
  text-align: left;
  width: 25%;
}

.column-invoice-table {
  border: 2px solid var(--primary-color);
  word-wrap: break-word;
  white-space: normal;
}

.home-image {
  width: 100%;
}